.main {
  &--registration {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.form {
  &--registration {
    background-color: $white;
    width: 460px;
    border-radius: 24px;
    padding: 40px 30px;
    box-sizing: border-box;
  }

  &__row {
    &--header {
      margin-bottom: 60px;
    }

    &:not(:last-child) {
      margin-bottom: 41.8px;
    }
  }

  &__text {
    &--header {
      margin-bottom: 8px;
    }
  }
}